

*{
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
/* Hide scrollbar for all elements */
body {
  overflow: hidden;
}

/* Optional: Customize scrollbar appearance */
/* For WebKit browsers */
::-webkit-scrollbar {
  display: none; /* Hide scrollbar */
}

/* For Firefox */
body {
  scrollbar-width: none;
}